[submodule "PcapPlusPlus"]
	path = PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus
[submodule "external/PcapPlusPlus"]
	path = external/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus
